{% extends 'base.html' %}

{% block title %}
API
{% endblock %}

{% block content %}

<div class="sixteen columns">
  <h1 class="remove-bottom" style="margin-top: 40px">Skeleton</h1>
  <h5>Version 1.2</h5>
  <hr />
</div>
<div class="one-third column">
  <h3>API Stuff</h3>
  <p>Skeleton is a small collection of well-organized CSS files that can help you rapidly develop sites that look beautiful at any size, be it a 17" laptop screen or an iPhone. It's based on a responsive grid, but also provides very basic CSS for typography, buttons, forms and media queries. Go ahead, resize this super basic page to see the grid in action.</p>
</div>

{% endblock %}
