{% extends 'base.html' %}

{% block title %}
SRCT Mobile Applications
{% endblock %}

{% block content %}

<div class="sixteen columns">
  <h1 class="remove-bottom" style="margin-top: 40px">SRCT Mobile</h1>
  <h5>SRCT Mobile Application Deployment</h5>
  <hr />
</div>
<div class="one-third column">
  <h3>About SRCT-Mobile</h3>
  <p>SRCT-Mobile provides a modularizable platform for the deployment of
  self-contained, independent native and web-wrapper mobile applications.</p>
  <p>Mobile apps can be easily added and removed from the application
  database, allowing new developers to quickly get their application off
  the ground with SRCT sponsorship.</p>
</div>
<div class="two-third column">
  <h3>Three Core Principles</h3>
  <p>Skeleton is built on three core principles:</p>
  <ul class="square">
    <li><strong>A Responsive Grid Down To Mobile</strong>: Elegant scaling from a browser to tablets to mobile.</li>
    <li><strong>Fast to Start</strong>: It's a tool for rapid development with best practices</li>
    <li><strong>Style Agnostic</strong>: It provides the most basic, beautiful styles, but is meant to be overwritten.</li>
  </ul>
</div>

{% endblock %}
