{% extends 'base.html' %}

{% block title %}
SRCT Mobile Applications
{% endblock %}

{% block content %}

<div class="sixteen columns">
  <h1 class="remove-bottom" style="margin-top: 40px">SRCT Mobile</h1>
  <h5>SRCT Mobile Application Deployment</h5>
  <hr />
  <div class="six columns">
    <h3>About SRCT-Mobile</h3>
    <p>SRCT-Mobile provides a modularizable platform for the deployment of
    self-contained, independent native and web-wrapper mobile applications.</p>
    <p>Mobile apps can be easily added and removed from the application
    database, allowing new developers to quickly get their application off
    the ground with SRCT sponsorship.</p>
  </div>

  <div class="nine columns">
    <h3>Screenshots</h3>
    <div id="owl-screenshots" class="owl-carousel">
      <div class="item"> <img src="/media/screenshots/one.png" alt="Img" /> </div>
      <div class="item"> <img src="/media/screenshots/four.png" alt="Img" /> </div>
      <div class="item"> <img src="/media/screenshots/two.png" alt="Img" /> </div>
      <div class="item"> <img src="/media/screenshots/three.png" alt="Img" /> </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function() {
  $("#owl-screenshots").owlCarousel({

    items: 2,

  });
});
</script>

{% endblock %}
